#shooter-grid {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}
#shooter-grid div {
    width: 40px;
    height: 40px;
    background-color: lightblue;

}

.bomb {
    background-image: url('img/bomb.png');
}
.shooter{
    background-image: url('img/shooter.png');
}
.shoot{
    background-image: url('img/shoot.png');
}
.win{
    background-color: blue;
}
.game-over{
    background-color: brown;
}