*{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(6, 83, 14, 0.8);
}
header nav {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}

header ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
header ul li{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin: 0 10px;
}

main{
    margin-top: 60px;
    width: 100%;
    height: 100vh;
    position: relative;
}
main #matrix-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
main > div{
    padding-top: 40px;
    font-size: 30px;
    color: white;
}