<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoKeeper</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
</head>
<body>
    <header>
        <div class="menuContainer">
            <div class="menuTrigger">
                <div class="menuTriggerLines"></div>
            </div>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Favorites</a></li>
                    <li><a href="">Settings</a></li>
                </ul>
            </nav>
        </div>
        <div class="menuContainerContent">
            <h1>PhotoKeeper</h1>
            <form action=""></form>
        </div>
    </header>
    <main>

    </main>
    <footer>
        <p> PhotoKeeper 2021</p>
        <p>tel: 0 - 800 - 907 - 44</p>
        <p>e-mail: info@photokeeper.com</p>
    </footer>

    <script src="../static/js/pk.js"></script>
</body>
</html>